.container {
	/*border: 1px solid blue;*/
	width: 70vw;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin: 0px auto;
	margin-top: 50px;
	flex-wrap: wrap;
}

.containerCounter {
	/*border: 1px solid blue;*/
	width: 70vw;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	gap: 130px;
}

.myCounter,
.myCounter2 {
	border: 1px solid rgb(0, 0, 0);
	border-radius: 50px;
	margin: 5px 5px;
	padding: 15px 25px;
	width: fit-content;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 50px;
}

.compteur2 {
	border: 2px solid rgb(0, 0, 0);
	color: white;
	background-color: orchid;
}

button {
	border: 1px solid blue;
	border-radius: 50px;
	margin: 5px 5px;
	padding: 8px 8px;
	width: 80px;
	height: 60px;
}

.green {
	color: rgb(6, 134, 8);
}

.red {
	color: rgb(225, 5, 5);
}

.blue {
	color: rgb(0, 84, 251);
}
